{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "targets": {
                        "node": "8.0.0"
                    }
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "regenerator": true
            }
        ],
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": [
                    "Error"
                ]
            }
        ],
        "transform-object-rest-spread"
    ]
}